/* You can add global styles to this file, and also import other style files */
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(assets/images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.spinner-border {
    margin-top: 160px;
    color: white;
}